<a href="https://colab.research.google.com/github/daimqureshi644/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Start Pandas**
Serise

In [ ]:
import pandas as pd
x = [1,2,3,4,5,6,7]

var = pd.Series(x)
print(var)
print(type(var))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
x = [1,2,3]

var = pd.Series(x, index= ['a','b','c'],dtype= "f",name= "python")
print(var)
print(type(var))

a    1.0
b    2.0
c    3.0
Name: python, dtype: float32
<class 'pandas.core.series.Series'>

In [ ]:
dic ={"Name":['Python','c','java','c++'],"por":[2,3,4,5],"Rank":[5,7,9,4]}

var1 = pd.Series(dic)
print(var1)

Name    [Python, c, java, c++]
por               [2, 3, 4, 5]
Rank              [5, 7, 9, 4]
dtype: object

In [ ]:
s = pd.Series(22,index= [1,2,3,4,5,6,7,8])
print(s)

1    22
2    22
3    22
4    22
5    22
6    22
7    22
8    22
dtype: int64

In [ ]:
s = pd.Series(22,index= [1,2,3,4,5,6,7,8])
s1 = pd.Series(22,index= [1,2,3,4,5])
print(s + s1)

1    44.0
2    44.0
3    44.0
4    44.0
5    44.0
6     NaN
7     NaN
8     NaN
dtype: float64

**Dataframe**

In [ ]:
import pandas as pd

l = [1,2,3,4,5]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [ ]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5]}

var1 = pd.DataFrame(d, columns= ['a'])
print(var1)

   a
0  1
1  2
2  3
3  4
4  5

In [ ]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5]}

var1 = pd.DataFrame(d)
print(var1)
print(var1["a"][2])

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
3

In [ ]:
sr = {"a":pd.Series([1,2,3,4,5]),"r":pd.Series([1,2,3,4,5])}
var1 = pd.DataFrame(sr)
print(var1)

   a  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

**Arthimatic operation in pandas**

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3],"b":[1,2,3]})
print(var)

var["c"] = var["a"]+var["b"]
print(var)

   a  b
0  1  1
1  2  2
2  3  3
   a  b  c
0  1  1  2
1  2  2  4
2  3  3  6

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3],"b":[1,2,3]})
print(var)

var["c"] = var["a"]-var["b"]
print(var)

   a  b
0  1  1
1  2  2
2  3  3
   a  b  c
0  1  1  0
1  2  2  0
2  3  3  0

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3],"b":[1,2,3]})
print(var)

var["c"] = var["a"]*var["b"]
print(var)

   a  b
0  1  1
1  2  2
2  3  3
   a  b  c
0  1  1  1
1  2  2  4
2  3  3  9

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,18,22,70],"b":[1,25,17,3]})
print(var)



var["python"] = var["a"] >= 20
var

    a   b
0   1   1
1  18  25
2  22  17
3  70   3

    a   b  python
0   1   1   False
1  18  25   False
2  22  17    True
3  70   3    True

**insert**

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,7,8,9,10]})
var

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,7,8,9,10]})
var

var.insert(1,"pyhton",var["a"])
var

   a  pyhton   b
0  1       1   6
1  2       2   7
2  3       3   8
3  4       4   9
4  5       5  10

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,7,8,9,10]})
var

var["python"] = var["a"][:3]
var

   a   b  python
0  1   6     1.0
1  2   7     2.0
2  3   8     3.0
3  4   9     NaN
4  5  10     NaN

**Delete**

In [ ]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,7,8,9,10], "c":[3,4,5,6,7]})
var

var1 = var.pop("b")
var1
var

   a  c
0  1  3
1  2  4
2  3  5
3  4  6
4  5  7

CSV **file**

In [ ]:
import pandas as pd

dis = ({"a":[1,3,4,5,6],"b":[5,6,7,8,9],"c":[1,2,3,4,5]})

a = pd.DataFrame(dis)
print(a)

a.to_csv("test_new.csv", index= False)

   a  b  c
0  1  5  1
1  3  6  2
2  4  7  3
3  5  8  4
4  6  9  5

**Read csv**

In [ ]:
import pandas as pd

# The 'r' before the string makes it a "raw string" to fix the backslash issue.
# I have assumed the file extension is .csv. Please change this if your file is .txt or something else.
csv_1 = pd.read_csv("text1.csv")

# This line displays the DataFrame in the console/notebook.
# print(csv_1)
csv_1

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,NaN,Karachi,92.0
2,3.0,Ahmed Raza,20.0,NaN,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,21.0,Female,NaN,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,21.0,NaN,Data Science,Karachi,NaN
8,9.0,Zain Rafiq,NaN,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,NaN,Faisalabad,81.0
10,11.0,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,NaN
12,13.0,Talha Shah,NaN,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,NaN
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,NaN
16,17.0,Shahzaib Khan,22.0,Male,Data Science,NaN,80.0
17,18.0,Fatima Aslam,21.0,NaN,Software Engineering,NaN,94.0
18,19.0,Abdullah Zafar,NaN,Male,Artificial Intelligence,NaN,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,NaN,90.0
20,21.0,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_1 = pd.read_csv("text1.csv",nrows= 3)
csv_1

   ID        Name  Age  Gender            Department       City  Marks
0   1    Ali Khan   21    Male      Computer Science     Lahore     88
1   2  Sana Ahmed   22  Female                   NaN    Karachi     92
2   3  Ahmed Raza   20     NaN  Software Engineering  Islamabad     79

In [ ]:
csv_1 = pd.read_csv("text1.csv",usecols= ["ID"])
csv_1

      ID
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
9   10.0
10  11.0
11  12.0
12  13.0
13  14.0
14  15.0
15  16.0
16  17.0
17  18.0
18  19.0
19  20.0
20  21.0
21  22.0
22  23.0
23  24.0
24  25.0
25  26.0
26  27.0
27  28.0
28  29.0
29   NaN
30  31.0
31  32.0
32  33.0
33  34.0
34  35.0
35  36.0
36  37.0
37  38.0
38  39.0
39  40.0
40  41.0
41  42.0
42  43.0
43  44.0
44  45.0
45  46.0
46  47.0
47  48.0
48  49.0
49  50.0

In [ ]:
csv_1 = pd.read_csv("text1.csv")
csv_1

csv_1.index
csv_1.describe()
csv_1.head(2)
csv_1.tail(4)

,ID,Name,Age,Gender,Department,City,Marks
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
import numpy as np

v = np.asarray(csv_1)
print(v)

NameError: name 'csv_' is not defined

In [ ]:
csv_1.loc[[2,3],["ID","Name"]]

    ID         Name
2  3.0   Ahmed Raza
3  4.0  Ayesha Noor

**Dropna & Fillna**

In [ ]:
import pandas as pd
csv_1 = pd.read_csv("text1.csv",nrows= 3)
csv_1

csv_1.dropna(how=("any"))

   ID      Name  Age Gender        Department    City  Marks
0   1  Ali Khan   21   Male  Computer Science  Lahore     88

In [ ]:
csv_1 = pd.read_csv("text1.csv",nrows= 3)
csv_1

csv_1.dropna(subset=("Gender"))

   ID        Name  Age  Gender        Department     City  Marks
0   1    Ali Khan   21    Male  Computer Science   Lahore     88
1   2  Sana Ahmed   22  Female               NaN  Karachi     92

In [ ]:
from os import replace
csv_1 = pd.read_csv("text1.csv",nrows= 3)
csv_1

csv_1.dropna(thresh= 3)

   ID        Name  Age  Gender            Department       City  Marks
0   1    Ali Khan   21    Male      Computer Science     Lahore     88
1   2  Sana Ahmed   22  Female                   NaN    Karachi     92
2   3  Ahmed Raza   20     NaN  Software Engineering  Islamabad     79

In [ ]:
from os import replace
csv_1 = pd.read_csv("text1.csv")
csv_1

csv_1.fillna("python")

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,python,Karachi,92.0
2,3.0,Ahmed Raza,20.0,python,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,21.0,Female,python,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,21.0,python,Data Science,Karachi,python
8,9.0,Zain Rafiq,python,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,python,Faisalabad,81.0
10,11.0,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,python
12,13.0,Talha Shah,python,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,python
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,python
16,17.0,Shahzaib Khan,22.0,Male,Data Science,python,80.0
17,18.0,Fatima Aslam,21.0,python,Software Engineering,python,94.0
18,19.0,Abdullah Zafar,python,Male,Artificial Intelligence,python,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,python,90.0
20,21.0,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,python,python,python,python,python,python,python
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
from os import replace
csv_1 = pd.read_csv("text1.csv")
csv_1
csv_1.fillna({"ID":"python", "Name": "c", "Age": "b", "Gender": "d", "Department": "f"})

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,f,Karachi,92.0
2,3.0,Ahmed Raza,20.0,d,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,21.0,Female,f,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,21.0,d,Data Science,Karachi,NaN
8,9.0,Zain Rafiq,b,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,f,Faisalabad,81.0
10,11.0,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,NaN
12,13.0,Talha Shah,b,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,NaN
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,NaN
16,17.0,Shahzaib Khan,22.0,Male,Data Science,NaN,80.0
17,18.0,Fatima Aslam,21.0,d,Software Engineering,NaN,94.0
18,19.0,Abdullah Zafar,b,Male,Artificial Intelligence,NaN,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,NaN,90.0
20,21.0,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,python,c,b,d,f,NaN,NaN
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_1.fillna(method="ffill")
csv_1.fillna(method="bfill")

/tmp/ipython-input-2313467589.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="ffill")
/tmp/ipython-input-2313467589.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_1.fillna(method="bfill")

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3.0,Ahmed Raza,20.0,Female,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,21.0,Female,Computer Science,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,21.0,Male,Data Science,Karachi,81.0
8,9.0,Zain Rafiq,23.0,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,Computer Science,Faisalabad,81.0
10,11.0,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,78.0
12,13.0,Talha Shah,21.0,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,80.0
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,80.0
16,17.0,Shahzaib Khan,22.0,Male,Data Science,Lahore,80.0
17,18.0,Fatima Aslam,21.0,Male,Software Engineering,Lahore,94.0
18,19.0,Abdullah Zafar,20.0,Male,Artificial Intelligence,Lahore,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,Lahore,90.0
20,21.0,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

**Replace**

In [ ]:
import pandas as pd
csv_1 = pd.read_csv("text1.csv")
csv_1

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,NaN,Karachi,92.0
2,3.0,Ahmed Raza,20.0,NaN,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,21.0,Female,NaN,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,21.0,NaN,Data Science,Karachi,NaN
8,9.0,Zain Rafiq,NaN,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,NaN,Faisalabad,81.0
10,11.0,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,NaN
12,13.0,Talha Shah,NaN,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,NaN
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,NaN
16,17.0,Shahzaib Khan,22.0,Male,Data Science,NaN,80.0
17,18.0,Fatima Aslam,21.0,NaN,Software Engineering,NaN,94.0
18,19.0,Abdullah Zafar,NaN,Male,Artificial Intelligence,NaN,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,NaN,90.0
20,21.0,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_1.replace(to_replace=21.0, value=30.0)

,ID,Name,Age,Gender,Department,City,Marks
0,1.0,Ali Khan,30.0,Male,Computer Science,Lahore,88.0
1,2.0,Sana Ahmed,22.0,Female,NaN,Karachi,92.0
2,3.0,Ahmed Raza,20.0,NaN,Software Engineering,Islamabad,79.0
3,4.0,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5.0,Usman Tariq,30.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6.0,Hina Malik,30.0,Female,NaN,Lahore,90.0
6,7.0,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8.0,Maria Khan,30.0,NaN,Data Science,Karachi,NaN
8,9.0,Zain Rafiq,NaN,Male,Artificial Intelligence,Multan,81.0
9,10.0,Laiba Ahmed,23.0,Female,NaN,Faisalabad,81.0
10,11.0,Hassan Raza,30.0,Male,Computer Science,Rawalpindi,85.0
11,12.0,Noor Fatima,22.0,Female,Data Science,Lahore,NaN
12,13.0,Talha Shah,NaN,Male,Software Engineering,Karachi,78.0
13,14.0,Anum Tariq,30.0,Female,Software Engineering,Islamabad,88.0
14,15.0,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,NaN
15,16.0,Alina Rauf,20.0,Female,Information Technology,Faisalabad,NaN
16,17.0,Shahzaib Khan,22.0,Male,Data Science,NaN,80.0
17,18.0,Fatima Aslam,30.0,NaN,Software Engineering,NaN,94.0
18,19.0,Abdullah Zafar,NaN,Male,Artificial Intelligence,NaN,94.0
19,20.0,Hareem Zahra,20.0,Female,Computer Science,NaN,90.0
20,30.0,Adeel Akhtar,30.0,Male,Information Technology,Lahore,84.0
21,22.0,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23.0,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24.0,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25.0,Imran Haider,30.0,Male,Computer Science,Lahore,79.0
25,26.0,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27.0,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28.0,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29.0,Ali Raza,30.0,Male,Artificial Intelligence,Faisalabad,87.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31.0,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32.0,Anila Ahmed,30.0,Female,Software Engineering,Islamabad,93.0
32,33.0,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34.0,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35.0,Naveed Iqbal,30.0,Male,Information Technology,Lahore,80.0
35,36.0,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37.0,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38.0,Sehrish Khan,30.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39.0,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40.0,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41.0,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42.0,Arisha Zain,30.0,Female,Information Technology,Faisalabad,92.0
42,43.0,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44.0,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45.0,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46.0,Fizza Malik,30.0,Female,Software Engineering,Rawalpindi,89.0
46,47.0,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48.0,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49.0,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50.0,Hira Iqbal,30.0,Female,Data Science,Karachi,96.0